/*codigo da tela de login */
html,body{
    height: 100%;
    width: 100%;
}
#fundo{
    background-image: url(../img/cdl.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   }

   .telalogin{
       background-color:rgb(231, 231, 231);
       width: 320px;
       height: 260px;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       box-shadow: 1px 5px 30px rgb(255, 230, 0);
       border-radius: 5px 5px 5px 5px;
       font-family: arial;
       opacity: 0.8;
       font-size: 15px;
       text-transform:uppercase;

   }
   .sbv{
       position: relative;
       left: 30%;
       top: 20px;
       color:rgb(50, 143, 3);
   }

   .inputlogin{
       margin-top: 5px;
       border-radius: 5px 5px 5px 5px;
       background:none;
       width: 93%;
       height: 30px;
   }
   .sublogin{
    position: relative;
    margin-top:20px;
    left: 10px;
   }

   .inputsenha{
       margin-top: 5px;
       border-radius: 5px 5px 5px 5px;
       background:none;
       width: 93%;
       height: 30px;
   }
   .subsenha{
    position: relative;
    margin-top:10px;
    left: 10px;
   }
   .subentrar{
       position: relative;
       margin-left: 10px;
       top:10px;
       width: 93%;
       height: 30px;
       border-radius:5px;
       background:rgb(50, 143, 3);
       font-size: 16px;
       color: white;
   }
   .subentrar:hover{
       background:rgb(255, 238, 0);
       color:rgb(11, 68, 255);
       box-shadow: 0 0 0 3px rgb(50, 143, 3);

   }
    /*Codigo final da tela de login*/

   /*menu principal agendeitopo*/
   *{
       padding:0;
       margin:0;
       text-decoration: none;
       list-style: none;
       box-sizing: border-box;
   }
   .po:hover{
       color: orange;
   }
   #menuprincipal {
       font-family: montserrat;
   }
   nav{
       background:#0082e6;
       height: 80px;
       width: 100%;
   }

   label.logo{

       color: white;
       font-size:45px;
       line-height: 80px;
       padding: 0 100px;
       font-weight: bold;

   }
   nav ul{
       float: right;
       margin-right: 20px;

   }
   nav ul li{
       display: inline-block;
       line-height:80px;
       margin: 0 5px;
   }
   nav ul li a{
       color: rgb(255, 255, 255);
       font-size:17px;
       padding: 7px 13px;
       border-radius: 3px;
       text-transform:uppercase;
   }

   a.active,a.houve{
       background:#ff1b1b;
       width: 30px;
       transition: .5s;
   }
   .checkbtn{
       font-size:30px;
       color:white;
       float:right;
       line-height:80px;
       margin-right: 40px;
       cursor: pointer;
       display:none;
   }
   #check{
       display:none;
   }
   @media (max-width: 952px){
       label.logo{
           font-size:30px;
           padding-left: 50px;
       }
       nav ul li a{
           font-size:16px;
       }
   }
   @media (max-width: 952px){
       .checkbtn{
           display:block;
       }
       ul{
           position: fixed;
           width: 100%;
           height: 100vh;
           background: #2c3e50;
           top: 80px;
           left:-100%;
           text-align:center;
           transition: all .5s;
       }
       nav ul li{
           display: block;
           margin: 50px 0;
           line-height: 30px;
       }
       nav ul li a{
           font-size:20px;
       }
       a.houve,a.active{
           background: none;
           color:#e60086;
       }
       #check:checked~ul{
           left: 0;
       }
   }
   .logopng{
       background-size: cover;
       height: calc(107vh - 101px);
      }
   /*fim do codigo agendeitopo*/

   /* tela funcionario*/
   .divfui{
    background:#0082e6;
        height: 80px;
        padding-left:70px;
        padding-top: 20px;
        text-transform:uppercase;

   }
   .ff{
       font-size: 30px;
       color: white;
   }
   .volt{
       position: relative;
       left: 75%;
       background-color: crimson;
       font-size: 20px;
       color:white;
       border-radius: 5px;
   }
   .id1{
    position: relative;
    padding: 5px 10px;
    border:  1px solid black;
    background-color: crimson;
   }
   .cpf1{
    position: relative;
    padding: 10px 20px;
    border:  1px solid black;

   }
   .nome1{
    position: relative;
    padding: 20px 40px;
    border:  1px solid black;
   }
   .telefone1{
    position: relative;
    padding: 20px 40px;
    border:  1px solid black;
   }
   .email1{
    position: relative;
    padding: 20px 40px;
    border:  1px solid black;
   }
   .tipo1{
    position: relative;
    padding: 20px 40px;
    border:  1px solid black;

   }
   .status1{
    position: relative;
    padding: 20px 40px;
    border:  1px solid black;
   }
   .acao1{
    position: relative;
    border:  1px solid black;
}
.ac{
    position: relative;
    top: 20px;
    left: 15px;
}
table{
    margin: auto;
    text-align: center;
    border: 1px solid black;
}
th{
    background-color: rgb(1, 1, 68);
    width: 1px;
    height: 50px;
    color: white;
}


.cadast{
    position: relative;
    left: 700px;
    font-size: 20px;
    color: aliceblue;
    border-radius: 5px;
}
.cadast:hover{
    color: orange;
}
.la{
    position: relative;
    left: 40%;
    font-size: 20px;
    border: 1px solid rgb(7, 7, 7);
    width: 300px;
    text-transform:uppercase;
}
#fund{
    background-color: #f3f3f3;
}
.tell{
    background:#0082e6;
    height: 80px;
}
.r{
    position: relative;
    left: 40px;
    top: 20px;
    color: cornsilk;
    font-size: 30px;
}
.ui{
    position: relative;
    left: 75%;
    top: 20px;
    font-size: 20px;
    background-color: red;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    text-transform:uppercase;
}
.telcard{
    background-color: rgb(0, 0, 0,.40);
    height: 470px;
    width: 800px;
    margin: auto;
    border-radius:0px 0px 10px 10px;
}
.tbl{
    text-align: center;
    font-size: 40px;
    text-transform:uppercase;

}/*fim*/

/*tela de cadastro*/
.registroformulario{
    background:#0082e6;
    width: 800px;
    height: 45px;
    margin: auto;
    padding: 10px 0px 10px 0px;
    color: #ffffff;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    margin-top: 10px;
    font-size: 20px;
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
    text-transform:uppercase;
}
.nometipo{
   text-align:center;
   position: relative;
   top: 40px;

}
.ltsenha{
    position: relative;
    width: 750px;
    height: 30px;
    color: black;
    border-radius: 7px;
    text-transform:uppercase;
    padding: 8px;
}
.ltsenha1{
    position: relative;
    color:white;
    text-transform:uppercase;
    padding: 8px;
}
.ltlogin{
    position: relative;
    width: 750px;
    height: 30px;

    color: black;
    border-radius: 7px;
    text-transform:uppercase;
    padding: 8px;
}
.ltlogin1{
    position: relative;
    color: white;
    text-transform:uppercase;
    padding: 8px;
}
.gravar{
    background-color: yellowgreen;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: white;
}
.gravar:hover{
   background-color: rgb(29, 166, 190);
}
.telf{
    position: relative;
    width: 750px;
    height: 30px;
    color: black;
    border-radius: 7px;
    text-transform:uppercase;
    padding: 8px;
}
.telf1{
    position: relative;
    color:white;
    text-transform:uppercase;
    padding: 8px;

}
.eml{
    position: relative;
    width: 750px;
    height: 30px;
    border-radius: 7px;
    text-transform:uppercase;
    padding: 8px;
}

.non{
    position: relative;
    width: 750px;
    height: 30px;
    color: black;
    border-radius: 7px;
    text-transform:uppercase;
    padding: 8px;

}
.non1{
    position: relative;
    color: black;
    color:white;
    text-transform:uppercase;
    padding: 8px;
}
.cp{
    position: relative;
    width: 750px;
    height: 25px;
    color: black;
    border-radius: 7px;
    text-transform:uppercase;
    padding: 8px;
}
.cp1{
    position: relative;
    left: -8PX;
    padding: 8px;
    text-transform:uppercase;
    color:white;
}
.opt{
    background-color: yellowgreen;
}
option{
    background-color: yellowgreen;
    color:black;
}
/*tela de editar*/
.nometipob{
    margin-top: 30%;
    margin-left: 25%;
    height: 40px;
    }
    .an{
    position: relative;
    width: 750px;
    height: 30px;
    color: black;
    border-radius: 7px;
    text-transform:uppercase;
    padding: 8px;
    }
    .an1{
     position: relative;
    color: white;

    text-transform:uppercase;
    padding: 8px;
    }

    .acp{
        position: relative;
        width: 750px;
        height: 30px;
        color: black;
        border-radius: 7px;
        text-transform:uppercase;
        padding: 8px;
    }
    .acp1{
        position: relative;
        padding: 8px;
        text-transform:uppercase;
        color:white;
    }

    .am{
        position: relative;
        width: 750px;
        height: 30px;
        color: black;
        border-radius: 7px;
        text-transform:uppercase;
        padding: 8px;
    }
    .am1{
        color: white;
        padding: 8px;
        text-transform:uppercase;
    }

    .at{
        position: relative;
        width: 750px;
        height: 30px;
        color: black;
        border-radius: 7px;
        text-transform:uppercase;
        padding: 8px;
    }
     .at1{
        position: relative;
        color:white;
        text-transform:uppercase;
        padding: 8px;
        }

        .al{
            position: relative;
            width: 750px;
            height: 30px;

            color: black;
            border-radius: 7px;
            text-transform:uppercase;
            padding: 8px;
        }

        .al1{
            position: relative;
            color: white;
            text-transform:uppercase;
            padding: 8px;
        }

        .as{
            position: relative;
            width: 750px;
            height: 30px;
            color: black;
            border-radius: 7px;
            text-transform:uppercase;
            padding: 8px;
        }
        .as1{
            color:white;
            text-transform:uppercase;
            padding: 8px;
        }
        .ar{
            position: relative;
            left: 25px;
            top:50px;
        }
        .ar1{
            position: relative;
            left: 20px;top:10px;
            top:60px;
        }
        .ar2{
            position: relative;
            left: 25px;
            top:45px;

        }
        .ar3{
            position: relative;
            left: 25px;
            top:40px;
        }
        .ar4{
            color: white;
            position: relative;
            top: 35PX;
            left: 25px;
            text-transform:uppercase;
        }
        .ar5{
            position: relative;
            left: 25px;
            top: 30px;
        }
        .ar6{
            position: relative;
            left: 25px;
            top: 25px;


        }
        .grav{
            background-color:rgb(209, 209, 209);
            text-align:center;
            margin-top: 120px;
            border-radius: 0px 0px 10px 10px;
        }
        .bott2{
            position: relative;
            text-align: center;
            top:33px;
        }

        /*tela recurso */

        .cart{
            background:#0082e6;
            height: 80px;
        }
        .scrip{
            position: relative;
            top:20px;
            left: 60px;
            font-size: 30px;
            color: white;
        }

        .vue{
            position: relative;
            left: 77%;
            top: 20px;
            background-color: red;
             border-radius: 5px;
            color: white;
            font-size: 25px;
        }
        .js{
            position: relative;
            left: 70%;
            top: 20px;
            border-radius: 5px;
            color: white;
            font-size: 25px;
        }
        .js:hover{
        color: orange;
        }
        .phs{
            position: relative;
            left: 85%;
            top: 20px;
            background-color: red;
             border-radius: 5px;
            color: white;
            font-size: 25px;
        }
        .castr{
            background-color: rgba(10, 10, 228, 0.747);
            width: 500px;
            height: 45px;
            margin: auto;
            padding: 10px 0px 10px 0px;
            color: #ffffff;
            text-align: center;
            border-radius: 20px 20px 0px 0px;
            margin-top: 10px;
            font-size: 20px;
            box-shadow: inset 0 0 1em gold, 0 0 1em red;
            text-transform:uppercase;
        }
       .cardrs{
           width: 500px;
           height: 300px;
           background-color:  rgb(0, 0, 0,.40);
           margin: auto;
           border-radius: 0px 0px 10px 10px;
       }
       .t1{
        position: relative;
        left: 23px;
       }
       .t2{
        position: relative;
        left: 23px;
       }
       .t3{
        position: relative;
        left: 23px;
       }
       .rsr{
        position: relative;
        left: 23px;
       }
       .p1{
        width: 450px;
        height: 25px;
        border-radius: 8px;
       }


       .p2{
        width: 450px;
        height: 25px;
        border-radius: 8px;
       }

       .p3{
        width: 450px;
        height: 25px;
        border-radius: 8px;
       }
       .oi{
           position: relative;
           left: 30%;
       }
       .rs{
           background-color: rgb(196, 196, 196);
           text-align: center;
           height: 30px;
           border-radius: 0px 0px 10px 10px;
           margin-top: 27%;
       }
       .rss{
           background-color: greenyellow;
           width: 60px;
           height: 30px;
           border-radius: 5px;
       }
       .rss:hover{
           background-color: blue;
       }

       .agen{
           background-color: blue;

       }
